<div class="user-details">
  <h2>Featured Projects</h2>
</div>
<div class="user-projects">
  <div class="images-right">
     <p><br></p>
    <img alt="Airlines" src="{{ "/assets/img/flights.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Flights, Airports, and Airlines Data Analysis</h3>
    <p><strong>Using python and plotly</strong></p>
    <p>Look into the Flights, Airports, and Airlines data of 344 cities, 322 airports, and 14 airlines.. Discover the secrets to booking the perfect flight ticket..</p>

 <p><strong>Explore:</strong> What is the most common cause of cancelations in Airlines?<br>
- Weather<br>
- Airline/carrier<br>
- National Air System<br>
- Security</p>
<p><strong>Visualize:</strong> Visualize a time-series of the airlines' average delay over the year(2015)<br>
- Can you spot any changes over the months/ days?</p>

 <a class="project-link" href="https://github.com/ArmiaData/Flights-Data-Analysis">Check it out</a>
</div>
</div>


<div class="user-projects">
  <div class="images-left">
    <br>
    <img alt="colleges" src="{{ "/assets/img/colleges.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>College admissions data science project</h3>
    <p><strong>Using python and plotly</strong></p>
 <p><strong>Scenario:</strong> You are a high school student or a parent about to begin the college admission process and you decided to analyze the data to find a school that would be a good fit.</p>
<p><strong>Data Questions:</strong><br>
- Applications vs admissions vs enrolled: WHat does this tell you about the number of students that were accepted, but went to a different school? What do you think impacted their decisions?<br>
- Which is more popular: SAT or ACT based off of region?<br>
- Does the % of ACT vs SAT scores submitted change based on the acceptance rates? Does SAT submissions increase when the school’s acceptance rate decreases?<br>
- What region has the most Public schools? What region has the most private schools?<br>
- What can you tell about the amount of 4 year schools vs private schools?<br>
- What can you tell about the graduation Rates?<br>
- What can you tell about the % of women vs men?</p>

 <a class="project-link" href="https://github.com/ArmiaData/College-admissions-data-science-project">Check it out</a>
</div>
</div>
