<div class="user-details">
  <h2>Featured Projects</h2>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="Reddit_SA" src="{{ "/assets/img/Reddit_SA.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    
    <h3>Reddit Sentiment Analysis</h3>
    <p>Sentiment analysis of Reddit posts involves using natural language processing techniques to determine the emotional tone of a piece of text. This can be useful for understanding the opinions and attitudes of Reddit users towards a specific topic or subreddit.</p>
    
    <p><strong>Using PRAW </strong> </p>
    <p>PRAW (Python Reddit API Wrapper) is a Python library for interacting with the Reddit API. It allows developers to easily access and interact with the functionality provided by the Reddit API, such as retrieving data from subreddits, submitting new posts, and managing user accounts<br></p>
    
    <p><strong>Using Transformers </strong> </p>
    <p>Transformers are a type of deep learning model that have been used extensively in natural language processing tasks such as sentiment analysis. They were introduced in the paper "Attention is All You Need" by Vaswani et al. in 2017. Transformers are built on the concept of self-attention, which allows the model to weigh the importance of different words in the input when making a prediction. This allows the model to effectively handle long-term dependencies and context in the input, which is particularly useful in natural language processing tasks.<br></p>


 <a class="project-link" href="https://github.com/ArmiaData/hackmt-2023">Check it out</a>
</div>
</div>


<div class="user-projects">
  <div class="images-left">
     <p><br></p>
    <img alt="Airlines" src="{{ "/assets/img/flights.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Flights, Airports, and Airlines Data Analysis</h3>
    <p><strong>Answering Data Questions, Using Python and Plotly for interactive visualizations.</strong></p>
    <p>Look into the Flights, Airports, and Airlines data of 344 cities, 322 airports, and 14 airlines.. Discover the secrets to booking the perfect flight ticket..</p>
<p><strong>Sample Data Questions:</strong> </p>
<p>What is the most common cause of cancelations in Airlines?<br>
Weather<br>
Airline/carrier<br>
National Air System<br>
Security<br>
By Visualizing the time-series of the airlines' average delay over the year(2015), Can you spot any changes over the months/ days?
</p>

 <a class="project-link" href="https://github.com/ArmiaData/Flights-Data-Analysis">Check it out</a>
</div>
</div>


<div class="user-projects">
  <div class="images-right">
   <p><br></p>
    <img alt="colleges" src="{{ "/assets/img/colleges.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>College admissions data science project</h3>
    <p><strong>Answering Data Questions, Using Python and Plotly for interactive visualizations.</strong></p>
<p><strong>Sample Data Questions:</strong><br></p>
<p>Which is more popular: SAT or ACT based off of region?<br>
Does the % of ACT vs SAT scores submitted change based on the acceptance rates?<br>
What region has the most Public schools? What region has the most private schools?<br>
What can you tell about the graduation Rates?
</p>
<a class="project-link" href="https://github.com/ArmiaData/College-admissions-data-science-project">Check it out</a>
</div>
</div>
